<mat-card>
  <mat-list>
    <div mat-subheader>
      Todas las categorías
    </div>
    <mat-list-item *ngFor = "let c of categorias">
      <mat-icon mat-list-icon>category</mat-icon>
      <div mat-line>{{ c.titulo }}</div>
      <div mat-line>{{ c.descripcion }}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="container text-center mt20">
    <button routerLink="/admin/add-categoria" mat-raised-button color="primary">Agregar categoría</button>
  </div>
</mat-card>
