<mat-card class="mt10" *ngFor = "let e of examenes">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{ e.titulo }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ e.categoria.titulo }}
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink] = "'/admin/ver-preguntas/'+e.examenId+'/'+e.titulo">Preguntas</button>
      <button mat-stroked-button color="primary" class="ml20">Puntos máximos {{ e.puntosMaximos }}</button>
      <button mat-stroked-button color="primary" class="ml20">Preguntas {{ e.numeroDePreguntas }}</button>
      <button [routerLink] = "'/admin/examen/'+e.examenId" mat-flat-button color="primary" class="ml20">Actualizar</button>
      <button mat-flat-button color="primary" class="ml20">Intentos</button>
      <button mat-flat-button color="warn" class="ml10" (click) = "eliminarExamen(e.examenId)">Eliminar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<div class="container text-center mt20">
  <button routerLink="/admin/add-examen" mat-raised-button color="primary">Agregar cuestionario</button>
</div>
